PORT=8000
NODE_ENV=production
LOG_LEVEL=warn

INVENTORY_HOST=accesorios-dm-inventory-service-prod
INVENTORY_PORT=8080

SECURITY_HOST=accesorios-dm-security-prod
SECURITY_PORT=8888

PAYMENT_HOST=accesorios-dm-payment-prod
PAYMENT_PORT=9000

ALLOWED_ORIGINS=*