# Database
DATABASE_URL=postgresql://usuario:contraseña@accesorios-dm-postgres-prod:5432/accesorios_dm_db

# JWT
SECRET_KEY=la-calve-super-secretaALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# Server
PORT=8890
HOST=0.0.0.0